// Colors //
$main-bg: #edf0f5;
$text-primary: #3a3e3e;
$text-secondary: #3d5360;
$accent: #ff551e;
$neumorph-shadow-start: #bec0c4;
$neumorph-shadow-end: #ffffff;
$white: #ffffff;
$black: #000000;

// Values //
$tablet-width: 700px;
$desktop-width: 900px;
